<?xml version="1.0"?>
<psalm
        autoloader="vendor/autoload.php"
        errorLevel="3"
        hideExternalErrors="true"
        useDocblockTypes="false"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://getpsalm.org/schema/config"
        xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="doc"/>
            <directory name="tests"/>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <mockClasses>
        <class name="PHPUnit\Framework\MockObject\MockObject"/>
    </mockClasses>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
